.page {
  display: flex;
  justify-items: center;
  height: 100vh;
  font-family: var(--font-geist-sans);
}

.aside {
  width: 217px;
  padding: 35px 14px;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 43px;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.li {
  list-style-type: none;
  border: 1px solid black;
  padding: 9px;
}

.main {
  width: 100%;
}
.nav {
  border-bottom: 1px solid black;
  padding: 35px 100px 26px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caixaUsuario{
  font-size: 1em;
  font-weight: bold;
  border: 1px solid black;
  padding: 7px 25px;
}

.section {
  padding: 30px 100px;
}

.container-btns {

}

.btns {
  position: relative;
  float: right;
}

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.td, .th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even) {
  background-color: #dddddd;
}